<ion-grid class="feed">
  <ion-row class="header-feed">
    <ion-col col-4>03/11 - Sex</ion-col>
    <ion-col col-8 text-center>CC Interdiciplinar</ion-col>
  </ion-row>
</ion-grid>


<!--<ion-card>-->

  <!--<ion-card-header class="feed-header">-->
   <!--<div class="row">-->
     <!--<span class="">03/11 - Sex</span>-->
     <!--<span class="f-r">CC Interdiciplinar</span>-->
   <!--</div>-->
  <!--</ion-card-header>-->

  <!--<ion-card-content>-->
    <!--Usuário:-->
    <!--<pre>SDFGHS{{gradeHoraria | json}}</pre>-->
    <!--&lt;!&ndash; Add card content here! &ndash;&gt;-->
  <!--</ion-card-content>-->

<!--</ion-card>-->
