// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f71010,
  light:      #f4f4f4,
  dark:       #222
);

$toolbar-background: #292929;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


@font-face {
  font-family: 'Permanent Marker';
  src: url('../../assets/fonts/PermanentMarker-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pacifico';
  src: url('../../assets/fonts/Pacifico-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.oc_area_icones{
  padding: 2.5rem;
}

.oc_header_feed_stl{
  height: 50%;
  background-color: #222222;
  border-top: solid 1rem #222222;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}
.oc_slider_content_stl{
  height: 75%;
  width: 100%;
  position: relative;
}

.oc-texto-slider{
  position: absolute;
  color: #fff;
  z-index: 100;
  text-shadow: 1px 1px 1px #111111;
}
.oc_slide_stl{
  font-family: 'arial', sans-serif;
  font-size: 14pt;
  color: #111;
  background-color: #222222;
}

.oc_cabecalho_content_stl{
  /*border-bottom: 1px solid #000000;*/
  height: 25%;
  text-align: center;
}

.oc_cabecalho_datas{
  height: 50%;
  padding: 0.5rem;
  font-family: 'arial', sans-serif;
  font-size: 14pt;
  color: #e0e395;
}

.oc_cabecalho_destaque{
  height: 50%;
  padding: 0.5rem;
  font-family: 'arial', sans-serif;
  font-size: 13pt;
  color: #e39988;
}

.oc_corpo{
  background-color: #222222 !important;
}

.oc-icon-stl{
  font-size:90px;
  width:100px;
  height:100px;
  color: #f71010;
  text-shadow: 1px 1px 1px #970f0f;
}

.center{
  margin: auto;
  width: 50%;
  text-align: center;
}
